body {
  font-family: Arial, Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
  font-size: 0.85rem;
}

p {
  margin: 0 0 0.5rem;
}

.green {
  color: green;
  font-weight: bolder;
}

ul {
  list-style: decimal;
}

.no-result-found {
  color: red;
  list-style: none;
  font-weight: bold;
}

section {
  display: flex;
  align-content: ;
  justify-content: center;
}
